{{ define "main" }}
<main>
  <img src="{{ "/immagini/loghi/logo_testo.png" | absURL }}" alt="{{ .Site.Title }}" class="site-logo">
  <p>{{ .Site.Params.description }}</p>
  
  <div class="libri-grid">
    {{ range where .Site.RegularPages "Section" "libri" }}
      <div class="libro-card">
        <a href="{{ .Permalink }}">
          {{ if .Params.copertina }}
          <img src="{{ .Params.copertina | absURL }}" alt="Copertina: {{ .Title }}">
          {{ end }}
          <h3>{{ .Title }}</h3>
          <p class="autore">di {{ .Params.autore }}</p>
        </a>
      </div>
    {{ end }}
  </div>
</main>
{{ end }}